{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="stylesheet" href="{% static '/css/main.css'%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
</head>
<body>

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Douglas Gentility</h1>
      <p>I'm <span class="typed" data-typed-items="Web Designer, Web Developer, instructor, Phtoshop designer"></span></p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->
    <div class="container md-3 ">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body  mb-5 border-info">
                    <img class="#" id="profile-pics" src="{% static 'images/color.jpg' %}" alt="">
                    <hr>
                    <h5>Hi am Douglas</h5>
                    <p> am a full stack developer</p>
                    
                </div>
            </div>
            <div class="col-md-9 mb-5  ">
                <div class="card card-body h-100 border-info">
                    <h4>My first job as a developer</h4>
                    <hr>
                    <p>Months after writing my project in <b> ASHPORT COMMUNIYTY</b> on febuary 2021, i decided to take a step ,to
                        work with them in one of their great firms the company was runing on and this helped to build my vision
                    </p>
                    <p>and i believe now i can be able to develop</p>
                    <ul class="social-links">
                        <li> <img class="social" src="{% static 'images/social-facebook-icon.png' %}" alt=""></li>
                        <li> <img class="social" src="{% static 'images/social-twitter-icon.png' %}" alt=""></li>
                        <li> <img class="social-sm" src="{% static 'images/download-2.png' %}" alt=""></li>
                        <li> <img class= "social-sm"src="{% static 'images/youtube-icon.png' %}" alt=""></li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card card-body h-100">
                    <h5>My experience are</h5><hr>
                    <p>Full stack developer</p>
                    <p> Teacher and instructor,</p>
                    <p>Software engineer</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="card card-body h-100">
                    <h5>What i know</h5><hr>
                    <p>Python</p>
                    <p>Django</p>
                    <p>Html and CSS</p>
                    <p>Javascript</p>
                    <p>PS: working on Flutter and React.js</p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card card-body h-100">
                    <h5>How i learn</h5> <hr>
                    Reverse engineer and built ugly prototypes first 
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero praesentium asperiores rem quaerat illo officiis, sed ad a minus 
                        expedita temporibus eum veniam architecto sint cupiditate
                         exercitationem debitis? Magni, iure?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 ">
                    <h5>My Short Term Goal</h5><hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum deserunt totam, illum, facere, eveniet quos sed debitis animi libero
                         cumque quaerat adipisci suscipit expedita assumenda voluptas vel repudiandae provident esse.</p>
                </div>
            </div>
        </div>



    </div>

</body>
</html>